// Общие параметры

body {
  //display: flex;
  //flex-direction: column;

  > * {
    min-width: 0;
  }

  // Скролл заблокирован
  &.lock {
    //overflow: hidden;
  }

  // Прижимаем footer
  > main {
    // flex:1 1 auto;
    //  overflow: auto;
  }
}

// Стили будут применяться ко всем классам содержащим   container

[class*=" container"] {
  max-width: 1330px;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 10px;
}

//===================================================